@import '../../styles/mixins';
$isShow: 'yes';

.container {
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  width: fit-content;
  min-width: 250px;
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 3;
  @include spaced-content;
  @include shadow;

  &.show {
    animation: slideDown 0.2s ease forwards;
  }
  &.hide {
    animation: slideUp 0.2s ease forwards;
  }

  div {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  button {
    margin-left: 25px;
    color: #fff;
  }
}

.success {
  background-color: #4caf50;
  border: 1px solid #388e3c;
}
.error {
  background-color: #f44336;
  border: 1px solid #d32f2f;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
