@import './varables';

@mixin shadow {
  box-shadow: 1px 2px 6px #00000026;
}

@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin spaced-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin click-style {
  transition: all 0.3s;
  &:active {
    transform: scale(0.95);
    opacity: 0.7;
  }
}

@mixin mobile-first-res($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
