@import './mixins';
@import './varables';

.container {
  @include center-content;
  height: 90dvh;
  width: 100%;
  padding: 10px;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  padding: 10px;
  margin: auto;

  p {
    font-weight: 900;
    margin-bottom: 50px;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  button {
    background-color: $color-theme-primary;
    font-weight: 900;
    padding: 10px;
    width: 100%;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px;
    @include click-style;
  }
}
