@import './mixins';
@import './varables';

.container {
  font-weight: 900;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 10px;
  background-color: $color-background;
  display: flex;
  gap: 20px;
  align-items: center;
  @include shadow;

  &:first-child {
    margin-top: 20px;
  }

  .status {
    border: 1px solid $color-theme-primary;
    width: 25px;
    height: 25px;
    border-radius: 8px;
  }

  .selected {
    opacity: 0.8;
    background-color: $color-theme-primary;
    @extend .status;
    @include center-content;

    &::before {
      content: '✔';
      color: #ffff;
    }
  }

  .time {
    margin-top: 10px;
    opacity: 0.5;
    font-weight: 100;
  }
}
